*{
    margin: 0;
}

div section{
    background-color: blue;
}

/* para sinalizar que vou chamar um id o
nome deve vir acompanhado no inicio pelo simblo do jogo da velha */
#div1{
    background-color: brown;
}
#div2{
    background-color: blue;
}

/*para sinalizar que eu vou chamar uma class o nome deve vir acompanhado no inicio pelo ponto final */
/* aplicar o mesmo estilo css para varias tags diferentes */
.estilotitulo{
    text-shadow: 5px 5px 5px yellow;
}